body{
	background-image: url('images/old-paper-background.png');
}
button:focus{
	outline: none !important;
}
.floating_instruction{
	margin: 20px;
}
.the-table{
	background-color: #2f2f2f;
	border: 5px solid #df8920;
	border-radius: 20px 20px 0 0;
	margin-top: 100px;
	padding: 30px 0px;
}

.col-sm-9, .col-sm-2{
	padding: 0px;
}

.card{
	height: 120px;
	color: black;
	margin: 5px;
	width: 14.7%;
	border-radius: 5px;
	line-height: 120px;
	position: relative;
	perspective: 800px;
	background-image:url('images/card-back-new.jpg');
	background-repeat: no-repeat;
	background-size: auto 120px;
	opacity: 0;
}
/* ------------------------------------------------stuff for slide */
.phide{
	transition: all .5s;
	left: -90px;
}

.dhide{
	transition: all .5s;
	left: 90px;
}

.move{
	opacity: 1;
	transition: all .5s;
	left: 0px;
}

.game-alerts{
	color: #d45a02;
	font-weight: bold;
	font-size: 14px;
}

.message-container{
	height: 20px;
}

.dealer-hand-wrapper, .player-hand-wrapper, .bet{
	color: #d45a02;
	font-size: 18px;
	text-align: center;
}
.bet{
	color: #721000;
	padding-bottom: 5px;
}

.bet-amount, .increase-bet, .bet-submit, .decrease-bet, .decrease-ten, .wallet{
	border-left: 1px solid #2f2f2f;
}

.bet-bottom{
	padding-top: 15px;
}
hr{
	background-color: #df8920;
	border-top: 5px solid #df8920;
}

hr.unseen{
	background-color: #2f2f2f;
	border-top: 6px solid #2f2f2f;
}

.player-total-number, .dealer-total-number, .dealer-overall-number, .player-overall-number{
	display: block;
	text-align: center;
}
.player-overall, .dealer-overall {
	color: #df8920;
}

.player-actions button, .reset{
	background-color: #2f2f2f;
	color: #df8920;
	text-align: center;
	padding: ;
}

.player-actions{
	text-align: center;
	padding: 5px 10px;
}
.bet-actions{
	text-align: center;
}

.bet-actions button{
	background-color: #df8920;
}
.bet-actions span{
	color: #df8920;
	text-align: center;
}

.reset{
	left: -40px;
	opacity: 0;
	transition: all .5s;
}

.slide{
	transition: all .5s;
	opacity: 1;
	left: 0px;

}

.player-actions button:hover{
	background-color: #df8920;
	color: #2f2f2f;
	transition: all 0.5s ease-in;
}

.reset:hover{
	background-color: #df8920;
	color: #2f2f2f;
	transition: all 0.5s ease-in;
}