body{
	background-image: url('images/old-paper-background.png');
}
.the-table{
	background-color: #2f2f2f;
	border: 5px solid #df8920;
	border-radius: 10px;
	margin-top: 30px;
	padding: 30px 0px;
}

.col-sm-9, .col-sm-2{
	padding: 0px;
}

.card{
	height: 120px;
	color: black;
	margin: 5px;
	width: 14.7%;
	border-radius: 5px;
	line-height: 120px;
	position: relative;
	perspective: 800px;
	background-image:url('images/card-back-new.jpg');
	background-repeat: no-repeat;
	background-size: auto 120px;
}

.game-banner{
	color: #d45a02;
	font-weight: bold;
	font-size: 14px;
}

.buffer{
	color: #2f2f2f;
}

.dealer-hand-wrapper, .player-hand-wrapper, .bet{
	color: #d45a02;
	font-size: 18px;
	text-align: center;
}
.bet{
	color: #721000;
	padding-bottom: 5px;
}

.bet-bottom{
	padding-top: 15px;
}
hr{
	background-color: #df8920;
	border-top: 5px solid #df8920;
}

hr.unseen{
	background-color: #2f2f2f;
	border-top: 6px solid #2f2f2f;
}

.player-total-number, .dealer-total-number, .dealer-overall-number, .player-overall-number{
	display: block;
	text-align: center;
}
.player-overall, .dealer-overall {
	color: #df8920;
}

.player-actions button, .reset, .bet-actions button{
	width: 100%;
	background-color: #2f2f2f;
	color: #df8920;
	border-radius: 3px;
	margin-top: 10px;
	box-shadow: 0px 0px 10px 5px rgba(71, 71, 71, 0.4);
	text-align: center;
}

.reset{
	margin-top: 30px;
	display: none;
	top:-50px;
	left: 280px;
	position: absolute;

}

.player-actions button:hover{
	background-color: #df8920;
	color: #2f2f2f;
	transition: all 0.5s ease-in;
}

.reset:hover{
	background-color: #df8920;
	color: #2f2f2f;
	transition: all 0.5s ease-in;
}